<div class="content-error">
  <h1 class="error">{{error}}</h1>
	<h3 class="error-resource">{{resource}}</h1>
	<div class="control">
		<button class="btn ghost"><a href="/">Go back</a></button>
	</div>
</div>